<div class="container py-5">
  <div class="row mb-4">
    <div class="col-lg-8 mx-auto text-center">
      <h1 class="display-5 form-title">Payment Forms</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-11 mx-auto">
      <div class="card">
        <div class="card-header card-modification">
          <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
            <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
              <li class=" nav-item">
                <a data-toggle="pill" routerLink="paiment-online" class="nav-link" [ngClass]="{ active: activeTab === 'credit-card' }"(click)="onSelectTab('credit-card')">
                  <i class="fas fa-credit-card mr-2"></i> Credit Card
                </a>
              </li>
              <li class="nav-item">
                <a data-toggle="pill" routerLink="paiment-online" class="nav-link" [ngClass]="{ active: activeTab === 'paypal' }" (click)="onSelectTab('paypal')">
                  <i class="fab fa-paypal mr-2"></i> Paypal
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="credit-card" class="tab-pane fade show" [ngClass]="{ active: activeTab === 'credit-card' }">
              <form role="form" (submit)="onSubmit()">
                  <div class="form-group mb-3 mt-3">
                    <label for="username"><h6>Card Owner</h6></label>
                    <input type="text" name="username" placeholder="Card Owner Name" required class="form-control">
                  </div>
                  <div class="form-group mb-3">
                    <label for="cardNumber"><h6>Card number</h6></label>
                    <div class="input-group">
                      <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control" require >
                      <div class="input-group-append">
                        <span class="input-group-text card-type rounded-end">
                          <i class="fab fa-cc-visa mx-1"></i>
                          <i class="fab fa-cc-mastercard mx-1"></i>
                          <i class="fab fa-cc-amex mx-1"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="col-sm-8">
                      <div class="form-group mb-3">
                        <label>
                          <span class="hidden-xs"><h6>Expiration Date</h6></span>
                        </label>
                        <div class="input-group ">
                          <input type="number" placeholder="MM" name="expMonth" class="form-control" require >
                          <input type="number" placeholder="YY" name="expYear" class="form-control" require >
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group mb-4">
                        <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                          <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                        </label>
                        <input type="text" name="cvv" required class="form-control">
                    </div>
                    </div>
                  </div>
                  <div class="card-footer elemet-position">
                    <button type="submit" class=" btn btn-primary shadow-sm col-10" >Confirm Payment</button>
                  </div>
              </form>
            </div>


            <div id="paypal" class="tab-pane fade pt-3" [ngClass]="{ 'show active': activeTab === 'paypal' }">
              <!-- PayPal content here -->

              <h6 class="pb-2 my-2">Select your PayPal account type</h6>
              <div class="form-group item-type mb-3">
                <label class="radio-inline mx-2">
                  <input type="radio" name="optradio" checked> Domestic
                </label>
                <label class="radio-inline mx-2">
                  <input type="radio" name="optradio"> International
                </label>
              </div>
              <p>
                <button type="button" class="btn btn-primary">
                  <i class="fab fa-paypal mr-2"></i> Log into my PayPal
                </button>
              </p>
              <p class="text-muted">
                Note: After clicking the button, you will be directed to a secure and reliable payment gateway where you can safely complete your payment.
                Once the payment process is successfully finalized, you will be seamlessly redirected back to our website,
                allowing you to conveniently view and access the comprehensive details of your order.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

