<section class="Material-contact-section section-padding section-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h1 class="section-title">Contact Us</h1>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
        <p class="text-muted">We would love to hear from you. Please fill out the form below and we will get back to you as soon as possible.</p>

        <ul class="list-unstyled contact-info">
          <li class="mb-2">
            <i class="fas fa-building"></i>
            <strong>Company:</strong> <a href="https://hostriver.ro"> OurStore</a>
          </li>
          <li class="mb-2">
            <i class="fas fa-map-marker-alt"></i>
            <strong>Address:</strong> <a href="#"> Maroc Ensa Marrakech</a>
          </li>
          <li class="mb-2">
            <i class="fas fa-phone"></i>
            <strong>Phone:</strong> <a href="#"> +212676158831</a>
          </li>
          <li class="mb-2">
            <i class="fa-sharp fa-solid fa-envelope"></i>
            <strong>Email:</strong> <a href="https://uny.ro"> HamdaniSupport@gmail.com</a>
          </li>
          <li class="mb-2">
            <i class="far fa-clock"></i>
            <strong>Working Hours:</strong> Mon to Sat: 09:30 AM - 10.30 PM
          </li>
        </ul>
      </div>
      <div class="col-md-6 wow animated fadeInRight support-form" data-wow-delay=".2s">
        <form class="contact-form" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name *</label>
                <input class="form-control rounded-2" id="name" type="text" name="name" required data-error="Please enter your name">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email *</label>
                <input class="form-control rounded-2" id="email" type="email" name="email" required data-error="Please enter your email">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="msg_subject">Subject *</label>
            <input class="form-control rounded-2" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="message">Message *</label>
            <textarea class="form-control rounded-2" id="message" name="message" required data-error="Please enter your message"></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-submit mt-4">
            <button class="btn btn-primary" type="submit" id="form-submit">Send Message</button>
          </div>
          <div id="msgSubmit" class="text-center mt-3">
            <p class="h5 text-success">Your message has been sent successfully.</p>
            <p class="h5 text-danger">Oops! Something went wrong. Please try again.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
