<nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand website-name" href="#"><i class="fa-solid fa-store me-2"></i>OurShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-item">
        <!-- <li class="nav-item me-3">
          <a class="nav-link " href="#">Home</a>
        </li> -->
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="product-list">Shop</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="trafic-orders">Order Tracking</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="contact-us">Contact Us</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="cart"><fa-icon [icon]="faCartShopping"></fa-icon></a>
        </li>
     </ul>
    </div>
  </div>
</nav>
